body {
    background-color: white;
    color: black;
    transition: background-color 0.5s ease, color 0.3s ease;
}

.tgl-btn {
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid black;
    background-color: white;
    color: black;
}

/* Dark Mode */
.dark-mode {
    background-color: black;
    color: white;
}

/* Button adapts in dark mode */
.dark-mode .tgl-btn {
    background-color: black;
    color: white;
    border: 2px solid white;
}
